<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
    Note: xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0" was removed from the Configuration tag 
    because there is a known bug with this statment that prevents intellisense from working properly in web.config 
    as well as producing many messages in the Error List window.
-->
<configuration>
	<!--
      The configSections element specifies configuration section and handler declarations. 
      This is required because ASP.NET makes no presumptions about how to handle settings within a configuration file. 
      Instead, ASP.NET delegates the processing of configuration data to configuration section handlers. 
      Each section element identifies a configuration section or element and the associated ConfigurationSection-derived 
      class that handles the configuration section or element. 
      The section elements can be logically grouped in sectionGroup elements to organize the section elements and 
      to avoid naming conflicts. The section and sectionGroup elements are contained in the configSections element. 
  -->
	<configSections>
		<section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<section name="dataConfiguration" requirePermission="false" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<sectionGroup name="fabFrame">
			<section name="roleInit" type="System.Configuration.NameValueSectionHandler"/>
			<section name="appInit" type="System.Configuration.NameValueSectionHandler"/>
			<section name="FABCriticalErrors" type="Westat.FAB.Security.HealthMonitoring.FABCustomSectionHandler, Westat.FAB.Security"/>
		</sectionGroup>
		<!--AJAX-->
	</configSections>
	<validation/>
	<!--
      The appSettings element stores custom application configuration information, such as file paths, 
      XML Web service URLs, or any information that is stored in the.ini file for an application. The key/value pairs 
      that are specified in the appSettings element can be accessed in code using the ConfigurationSettings class.
  -->
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add databaseInstanceName="FAB_DefaultConnectionString" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Database Trace Listener"/>
			<add fileName="Output/ErrorLog/FAB_Error.log" header="&lt;ErrorLog&gt;" footer="&lt;/ErrorLog&gt;" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="FlatFile TraceListener"/>
		</listeners>
		<formatters>
			<add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Thread Name: {threadName}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Text Formatter"/>
		</formatters>
		<categorySources>
			<add switchValue="All" name="Audit">
				<listeners>
					<add name="Database Trace Listener"/>
				</listeners>
			</add>
			<add switchValue="All" name="Error">
				<listeners>
					<add name="Database Trace Listener"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events">
				<listeners>
					<add name="FlatFile TraceListener"/>
				</listeners>
			</allEvents>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings"/>
		</specialSources>
	</loggingConfiguration>
	<dataConfiguration defaultDatabase="FAB_DefaultConnectionString"/>
	<connectionStrings>
    <add name="FAB_DefaultConnectionString" connectionString="Data Source=DZSQL100;Initial Catalog=TIMSSSCS2015;User ID=TIMSSSCS2015_app;Password=URKUFlagcn3006;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
    <add key="NotifyEmailList" value="adriangordon@westat.com;DaphneChao@westat.com;ChristianKapombe@westat.com"/>
    <add key="NotificationFromEmail" value="timss@westat.com"/>
		<add key="UseDefaultMasterPage" value="false"/>
		<!--<add key="DefaultTheme" value="FABblue" />-->
		<!--<add key="DefaultTheme" value="FABbrown"/>-->
		<!--<add key="DefaultTheme" value="FABYellow" />-->
		<!--<add key="DefaultTheme" value="FABdkblue" />-->
		<!--
    <add key="DefaultTheme" value="FABLightblue"/>
    -->
		<!--<add key="DefaultTheme" value="FABOrange" />-->
		<!--<add key="DefaultPublicMasterPage" value="~/Public/FabTabLoginMaster.master" />
    <add key="DefaultMasterPage" value="~/Public/FabTabOneLevelMaster.master" />-->
    <!--
		<add key="DefaultPublicMasterPage" value="~/Public/FabTabLoginMaster.master"/>
		<add key="DefaultMasterPage" value="~/Public/FabTabMaster.master"/>
    -->
		<!--<add key="DefaultPublicMasterPage" value="~/Public/MasterPagePublic.master" />
    <add key="DefaultMasterPage" value="~/Public/MasterPage.master" />-->
	</appSettings>
	<!-- Logging Application Block-->
	<!--
      The connectionStrings element specifies a collection of database connection strings, as name/value pairs, 
      for ASP.NET applications and features.  In previous versions of ASP.NET, connection strings were stored 
      in the appSettings. In ASP.NET 2.0, features, such as Session, Membership, Personalization, and Role Manager, 
      rely on connection strings that are stored in the connectionStrings element. 
      You can also use the connectionStrings element to store connection strings for your own applications.
  -->
	<!--
    These sections were defined in the configSections above.
    They define the default role to be applied to self-registered users
    as well as the header text to be used on the Public Master Page
  -->
	<fabFrame>
		<roleInit>
			<add key="defaultRoleSuppported" value="Yes"/>
			<add key="defaultRole" value=""/>
		</roleInit>
		<appInit>
			<add key="DotNetVersion" value="4.0"/>
			<add key="Version" value="4.0.0"/>
			<add key="ReleaseDate" value="1-6-2011"/>
			<add key="appTitle" value="Welcome to the FAB Framework"/>
			<add key="appFooter" value="FAB - Version 4.0.0 Copyright 2011 Westat Corporation. All rights reserved"/>
			<add key="AuditLogging" value="No"/>
			<add key="AcctLockOutMsg" value="There is a problem with your account.&lt;br/&gt;The information you have entered does not match the information we have on file.&lt;br/&gt;Please contact the administrator."/>
			<add key="AdminContactEmail" value="FABFramework@Westat.com"/>
			<add key="AdminContactPhone" value="1-800-WESTAT2"/>
			<add key="FromEmail" value="FABFramework@westat.com"/>
			<add key="AllowUserPasswordReset" value="true"/>
			<add key="AcctDisabledMsg" value="Your account has been disabled.&lt;br/&gt;Please contact the administrator."/>
		</appInit>
		<FABCriticalErrors>
			<FABCriticalErrorsSentByEmail>
				<add name="ApplicationShutdownUnloadAppDomainCalled" eventCode="1002" eventDetailCode="50005"/>
				<add name="ApplicationShutdownBinDirChangeOrDirectoryRename" eventCode="1002" eventDetailCode="50007"/>
				<add name="ApplicationShutdownHttpRuntimeClose" eventCode="1002" eventDetailCode="50013"/>
				<add name="InvalidTicketFailure" eventCode="4005" eventDetailCode="50201"/>
				<add name="ExpiredTicketFailure" eventCode="4005" eventDetailCode="50202"/>
				<add name="AuditFileAuthorizationFailure" eventCode="4008"/>
				<add name="AuditInvalidViewStateFailure" eventCode="4009"/>
			</FABCriticalErrorsSentByEmail>
		</FABCriticalErrors>
	</fabFrame>
	<!--
      system.web - Specifies the root element for the ASP.NET configuration section and contains configuration elements that 
      configure ASP.NET Web applications and control how the applications behave.
  -->
	<system.web>
    <authorization>
      <deny users="?"/>
      <deny verbs="OPTIONS" users="*" />
    </authorization>
		<!--
      Configures the authorization for a Web application, controlling client access to URL resources. 
      The default authorization rule is <allow users="*"/>, therefore access is allowed unless otherwise specified.
      
		<authorization>
			<allow users="?"/>
		</authorization>
     -->
		<!--
      The authentication element configures the ASP.NET authentication scheme for an ASP.NET application. 
      The authentication scheme determines how to identify users who want to view the ASP.NET application.     
     -->
		<authentication mode="Forms">
			<forms loginUrl="~/Default.aspx" name="/" timeout="30" requireSSL="true"/>
		</authentication>
		<!--
      Configures parameters for managing and authenticating user accounts by using ASP.NET membership.
     -->
		<membership defaultProvider="FAB_SqlProvider" userIsOnlineTimeWindow="30" hashAlgorithmType="SHA1">
			<providers>
				<add name="FAB_SqlProvider" type="Westat.FAB.MembershipProvider.CustomMembershipProvider" autoUnlockTimeout="25" enablePasswordRetrieval="false" enablePasswordReset="true" passwordFormat="Hashed" passwordStrengthRegularExpression="(?=^.{8,14}$)((?=.*\d)(?=.*[a-z])|(?=.*\d)(?=.*[A-Z])|(?=.*[a-z])(?=.*[A-Z]))^.*$" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="1" maxInvalidPasswordAttempts="5" passwordAttemptWindow="5" connectionStringName="FAB_DefaultConnectionString" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" changePasswordAfterReset="true" changePasswordAfterCreateUser="false" daysPasswordIsValid="120" passwordBlackoutInterval="6" numberOfRetriesAfterPasswordExpires="5" AutoActivateUserAfterReset="True"/>
			</providers>
		</membership>
		<!--
       Configures an application for role management.
     -->
		<roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="FAB_RoleProvider" cookieRequireSSL="true" cookieProtection="All">
			<providers>
				<add name="FAB_RoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="FAB_DefaultConnectionString" applicationName="/"/>
			</providers>
		</roleManager>
		<!--
        Configures anonymous identification for application authorization. This is required to 
        identify entities that are not authenticated when authorization is required.
     -->
		<anonymousIdentification enabled="true" cookieRequireSSL="true" cookieProtection="All"/>
		<!--
        Configures parameters for managing user profile values by using the ASP.NET profile.
        inherits - Contains a type reference for a custom type that derives from the ProfileBase abstract class 
        (~/app_Code/CustomProfile.vb). ASP.NET dynamically generates an ProfileCommon class that inherits from 
        this type and places it in the Profile property of the current HttpContext
     
		<profile inherits="Westat.FAB.Profile.CustomProfile" defaultProvider="FAB_ProfileProvider">
			<providers>
				<add connectionStringName="FAB_DefaultConnectionString" applicationName="/" name="FAB_ProfileProvider" type="System.Web.Profile.SqlProfileProvider"/>
			</providers>
		</profile>
    -->
    <profile enabled="true"
    defaultProvider="TIMSSTableProfileProvider"
    inherits="Westat.TIMSS.ProfileCommon">
      <providers>
        <clear/>
        <add name="TIMSSTableProfileProvider"
                type="Westat.TIMSS.TIMSSSQLTableProfileProvider"
                connectionStringName="FAB_DefaultConnectionString" table="aspnet_ProfileTIMSS"
                applicationName="/" />
      </providers>
    </profile>
		<!-- 
        Set compilation   ="true" to insert debugging symbols into the compiled page. Because this 
        affects performance, set this value to true only during development.
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
    <httpRuntime enableVersionHeader="false" requestValidationMode="2.0" />
		<!-- 
      Allows you to specify a Web Parts personalization provider, 
      set personalization authorizations, and add custom classes that extend the WebPartTransformer class 
      for use by Web Parts connections.      
     -->
		<webParts>
			<personalization defaultProvider="FAB_PersonalizationProvider">
				<providers>
					<add name="FAB_PersonalizationProvider" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider" connectionStringName="FAB_DefaultConnectionString" applicationName="/"/>
				</providers>
				<!--Allows only the WesAdmin Role to use SharedScope -->
				<authorization>
					<allow roles="WesAdmin" verbs="enterSharedScope"/>
				</authorization>
			</personalization>
		</webParts>
		<!--
        The <customErrors> section enables configuration of what to do if/when an unhandled error occurs during the execution
        of a request. Specifically, it enables developers to configure html error pages to be displayed in place of a error 
        stack trace. There has also been added a generic error page to catch all unhandled errors.
    -->
		<customErrors mode="On" defaultRedirect="~/Public/GenericError.aspx">
			<error statusCode="400" redirect="~/ErrorPages/Error400.aspx"/>
			<error statusCode="401" redirect="~/ErrorPages/Error401.aspx"/>
			<error statusCode="402" redirect="~/ErrorPages/Error402.aspx"/>
			<error statusCode="403" redirect="~/ErrorPages/Error403.aspx"/>
			<error statusCode="404" redirect="~/ErrorPages/Error404.aspx"/>
		</customErrors>
		<!--
        Globally defines page-specific configuration settings, such as ASP.NET directives for pages and controls that are 
        within the scope of the configuration file.  This configuration section supports setting certain ASP.NET page and 
        control directives globally for all pages and controls in the scope of the configuration file. 
        This includes the Page directive (<%@ Page %>), the Import directive (<%@ Import %>) via the Namespaces collection property, 
        and the Register directive (<%@ Register %>) via the Controls collection property.
        Instead of using "Customization Theme", the "StyleSheet Theme" is used here,so, the control can override the theme.
        styleSheetTheme="FABblue"
    -->
		<pages  controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" viewStateEncryptionMode="Always">
			<namespaces>
				<add namespace="System.Data"/>
				<add namespace="System.Data.SqlClient"/>
				<add namespace="Microsoft.Practices.EnterpriseLibrary.Data"/>
				<add namespace="Microsoft.Practices.EnterpriseLibrary.Logging"/>
			</namespaces>
			<controls>
				<!-- Uncomment this line to enable the AJAX.  -->
				<!--<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
			</controls>
		</pages>
		<healthMonitoring enabled="true" heartbeatInterval="0">
			<bufferModes>
				<clear/>
				<add name="Critical Notification" maxBufferSize="100" maxFlushSize="20" urgentFlushThreshold="1" regularFlushInterval="00:01:00" urgentFlushInterval="00:00:10" maxBufferThreads="1"/>
				<add name="Notification" maxBufferSize="100" maxFlushSize="20" urgentFlushThreshold="1" regularFlushInterval="00:01:00" urgentFlushInterval="00:00:10" maxBufferThreads="1"/>
				<add name="Analysis" maxBufferSize="1000" maxFlushSize="100" urgentFlushThreshold="100" regularFlushInterval="00:05:00" urgentFlushInterval="00:01:00" maxBufferThreads="1"/>
			</bufferModes>
			<providers>
				<clear/>
				<add name="EventLogProvider" type="System.Web.Management.EventLogWebEventProvider,&#xA;              System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"/>
				<add name="SqlWebEventProvider" connectionStringName="FAB_DefaultConnectionString" maxEventDetailsLength="1073741823" buffer="false" bufferMode="Notification" type="System.Web.Management.SqlWebEventProvider,&#xA;              System.Web,Version=2.0.0.0,Culture=neutral,&#xA;              PublicKeyToken=b03f5f7f11d50a3a"/>
				<add name="FABTextWriterWebEventProvider" type="Westat.FAB.Security.Providers.FABTextWriterWebEventProvider, Westat.FAB.Security" buffer="true" bufferMode="Notification"/>
				<!--The Attributes "from" and "to" of the property "CriticalMailEventProvider" should be reset 
            when the project is ready for deploying to production server.
            It sends the critical errors to administrator by e-mail.-->
				<add name="CriticalMailEventProvider" type="System.Web.Management.SimpleMailWebEventProvider, System.Web,Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" from="FAB@westat.com" to="WebServerAdmin@westat.com" bodyHeader="Warning!" bodyFooter="Please investigate ASAP." subjectPrefix="Action required." buffer="true" bufferMode="Critical Notification" maxEventLength="4096" maxMessagesPerNotification="1"/>
			</providers>
			<profiles>
				<clear/>
				<add name="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:01" custom=""/>
				<add name="Critical" minInstances="1" maxLimit="Infinite" minInterval="00:00:01" custom=""/>
				<add name="AppLifetime" minInstances="1" maxLimit="1" minInterval="00:00:02" custom=""/>
				<add name="FABCritical" minInstances="1" maxLimit="Infinite" minInterval="00:00:01" custom="Westat.FAB.Security.HealthMonitoring.FABCriticalWebBaseEvent, Westat.FAB.Security"/>
			</profiles>
			<rules>
				<clear/>
				<!--Errors-->
				<!--Log errors to DB and text file-->
				<add name="All Errors Bottom DB" eventName="All Errors Bottom" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" custom=""/>
				<add name="All Errors Bottom Text" eventName="All Errors Bottom" provider="FABTextWriterWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" custom=""/>
				<add name="All Errors Top DB" eventName="All Errors Top" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" custom=""/>
				<add name="All Errors Top Text" eventName="All Errors Top" provider="FABTextWriterWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" custom=""/>
				<!--*****************************************-->
				<!--Web Audit Events-->
				<add name="SuccessEvents Bottom" eventName="SuccessEventsBottom" provider="SqlWebEventProvider" minInterval="00:00:01"/>
				<add name="SuccessEventsTop" eventName="SuccessEventsTop" provider="SqlWebEventProvider" minInterval="00:00:01"/>
				<add name="FailureEventsBottom" eventName="FailureEventsBottom" provider="SqlWebEventProvider" minInterval="00:00:01"/>
				<add name="FailureEventsTop" eventName="FailureEventsTop" provider="SqlWebEventProvider" minInterval="00:00:01"/>
				<!--*****************************************-->
				<!--Critical Events to Email-->
				<add name="CriticalErrorMailEventsTop" eventName="FailureEventsTop" provider="CriticalMailEventProvider" profile="FABCritical"/>
				<add name="CriticalErrorMailEventsBottom" eventName="FailureEventsBottom" provider="CriticalMailEventProvider" profile="FABCritical"/>
				<add name="CriticalErrorMailLifetimeEvents" eventName="Application Lifetime Events" provider="CriticalMailEventProvider" profile="FABCritical"/>
				<!--*****************************************-->
				<!--Other Events-->
				<add name="Application Lifetime Events" eventName="Application Lifetime Events" profile="AppLifetime" provider="SqlWebEventProvider"/>
				<add name="Request Processing Events" eventName="Request Processing Events" provider="SqlWebEventProvider" minInterval="00:00:01"/>
				<!--<add name="Process Statistics" eventName="Heartbeats" provider="SqlWebEventProvider" profile="Default"/>-->
			</rules>
			<eventMappings>
				<clear/>
				<!--Web Errors-->
				<add name="All Errors Top" type="System.Web.Management.WebBaseErrorEvent, &#xA;              System.Web,Version=2.0.0.0,Culture=neutral, &#xA;              PublicKeyToken=b03f5f7f11d50a3a" startEventCode="3006" endEventCode="2147483647"/>
				<add name="All Errors Bottom" type="System.Web.Management.WebBaseErrorEvent, &#xA;              System.Web,Version=2.0.0.0,Culture=neutral, &#xA;               PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="3004"/>
				<!--Web Audit Events-->
				<add name="SuccessEventsBottom" type="System.Web.Management.WebSuccessAuditEvent,System.Web,Version=2.0.0.0,Culture=neutral,&#xA;            PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="4001"/>
				<add name="SuccessEventsTop" type="System.Web.Management.WebSuccessAuditEvent,System.Web,Version=2.0.0.0,Culture=neutral,&#xA;            PublicKeyToken=b03f5f7f11d50a3a" startEventCode="4003" endEventCode="2147483647"/>
				<add name="FailureEventsBottom" type="System.Web.Management.WebFailureAuditEvent,System.Web,Version=2.0.0.0,Culture=neutral,&#xA;            PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="4005"/>
				<add name="FailureEventsTop" type="System.Web.Management.WebFailureAuditEvent,System.Web,Version=2.0.0.0,Culture=neutral,&#xA;            PublicKeyToken=b03f5f7f11d50a3a" startEventCode="4007" endEventCode="2147483647"/>
				<!--Other Events-->
				<add name="Application Lifetime Events" type="System.Web.Management.WebApplicationLifetimeEvent, &#xA;              System.Web,Version=2.0.0.0,Culture=neutral, &#xA;              PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
				<add name="Request Processing Events" type="System.Web.Management.WebRequestEvent, &#xA;             System.Web,Version=2.0.0.0,Culture=neutral, &#xA;             PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
				<!--*****************************************-->
				<add name="Heartbeats" type="System.Web.Management.WebHeartbeatEvent, &#xA;System.Web,Version=2.0.0.0,Culture=neutral,&#xA;            PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647"/>
			</eventMappings>
		</healthMonitoring>
		<httpModules>
			<!--<add name="WebRequestDetailedErrorModule" type="Westat.FAB.Security.HealthMonitoring.FABWebRequestDetailedErrorModule,Westat.FAB.Security"/>-->
			<!-- Uncomment this line to enable the AJAX.  -->
			<!--<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
		</httpModules>
		<httpHandlers>
      <add path="*" verb="OPTIONS" type="System.Web.DefaultHttpHandler" validate="true"/>
			<!--<remove verb="*" path="*.asmx"/>-->
		</httpHandlers>
	</system.web>
  <system.webServer>
    <modules>
      <add name="WebRequestDetailedErrorModule" type="Westat.FAB.Security.HealthMonitoring.FABWebRequestDetailedErrorModule,Westat.FAB.Security"/>
    </modules>
  </system.webServer>
  <!-- Contains settings that specify how the .NET Framework connects to the network. -->
	<system.net>
		<!--Configures mail sending options. -->
		<mailSettings>
			<!--Configures Simple Mail Transport Protocol options.-->
			<smtp from="adriangordon@westat.com">
				<network host="Relay.Westat.Com" password="" userName=""/>
			</smtp>
		</mailSettings>
	</system.net>
	<!--AJAX begin-->
	<system.web.extensions>
		<scripting>
			<webServices>
				<!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
				<!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
				<!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
				<!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
				<!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
				<!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
			</webServices>
			<!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
		</scripting>
	</system.web.extensions>
	<!--AJAX end-->


  <system.web>
    <!--
      Defines configuration settings to support the navigation infrastructure for configuring, storing, 
      and rendering site navigation.  
      Provider definition defines location of sitemap file.  securityTrimmingEnabled -  Defaults to false.  
      If true, and if the provider includes the necessary logic, the site map provider performs a role check 
      against retrieved nodes. The provider also performs a role check against the current user. 
      The URL authorization rules for the application are applied.
     -->
    <siteMap defaultProvider="FAB_DefaultSiteMapProvider" enabled="true">
      <providers>
        <add name="FAB_DefaultSiteMapProvider" description="Clients SiteMap provider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Project/web.sitemap" securityTrimmingEnabled="true"/>
        <add name="FAB_CustomSiteMapProvider" type="Westat.FAB.SiteMapProvider.CustomSiteMapProvider" siteMapTable="FAB_SiteMap" siteMapName="WesAdmin" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <!--
    <siteMap enabled="true" defaultProvider ="AspNetXmlSiteMapProvider" >
      <providers>
        <clear/>
        <add siteMapFile="Web.sitemap" name="AspNetXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
-->
    </system.web>

  <location path="Public">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Troubleshoot.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="common">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="inc">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="admin">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>


  <location path="TIMSSEFILE2015">
    <system.web>
      <authorization>
        <allow roles="admin,WebsiteEfile"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="TIMSSSCS2015">
    <system.web>
      <authorization>
        <allow roles="admin,WebsiteSCS"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://www.mytimss.com/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
